doctype
html.no-js
  head
    meta(charset="utf-8")
    title victorandree.se
    link(rel="stylesheet", href="/css/app.css")

  body
    block header

    .test
      .one
        | one
      .two
        | two
    
    block content

    block footer
